* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Kalam", cursive;
    line-height: 1.6;
   
}img {
    width: 100%;
}
.kalam-light {
    font-family: "Kalam", cursive;
    font-weight: 300;
    font-style: normal;
  }
  
  .kalam-regular {
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
  .kalam-bold {
    font-family: "Kalam", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
  


header {
    padding: 10px 0;
}

.navbar {
    display: grid;
    justify-content: center;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: brown;
    text-decoration: none;
}

.social-icons a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.home {
 
 
    display: flex;
    justify-content: center;
    align-items: center;
   
    text-align: center;
}
.home-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}
.home-content h1 {
    font-size: 100px;
    margin-bottom: 20px;
    text-align: left;line-height: 0.8;
}

.home-content .btn {
    background-color: #ff6f61;
    color: #fff;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.about, .contact {
    padding: 50px 20px;
    text-align: center;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
}

.contact input, .contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.contact button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.social-icons img {
    max-width: 25px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}
.logo {
    text-align: center;
}
.logo img {
    max-width: 100px;
}
section, footer, header {
    max-width: 95%;
    margin: auto;
}
/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }

    .nav-links {
 
        margin-top: 10px;
    }
    .home-content {

        grid-template-columns: 1fr;
    }
    .home-content h1 {
        font-size: 30px;
    }
}
